.table1{
   
    width: 300px;
    font-size: 25px;
    align-items: center;
    justify-content: center;
}

.table{
    margin-left: 400px;
    margin-top: 90px;
   
}
table {
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px; /* Adjust the value as needed */
  }
  
  th {
    background-color: #f2f2f2;
  }

.news2{
    align-items: center;
    justify-content: center;
    top:-50px ;
    margin-left: -900px;
  }

.news2:hover{
    background-color: #9bbab4;
    transition: background-color 0.3s ease;
    transform: 2px;
  }

  .elg{
    font-size: 20px;
    bottom: 500px;
    justify-content: center;
    margin-left: 5rem;
    margin-right: 5rem;
  }



  span{
    font-size: 30px;
 
  }

  fa-star
{
  width: 50px;
}

.job{
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.job3{
  width: 40%;
  margin-left: 50px;
}

.small{
  margin-left: 800px;
  position: relative;
top: -250px;
margin-right: 10px;
margin-left: 700px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 25px;
justify-content: center;
display: flex;
}


.job4{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    bottom: 100px;
    margin-top: -50px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 40px;
}

.free{
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 25px;
  margin-left: 5rem;
  margin-right: 5rem;
 font-family: Poppins 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

